site_name: CSCS Documentation
site_url: https://docs.cscs.ch/

# provide a link to the docs in top RHS corner
repo_url: https://github.com/eth-cscs/cscs-docs
# provide a link to "edit this page" to each page
edit_uri: edit/main/docs/
extra_css:
  - stylesheets/extra.css
plugins:
  - search:
      pipeline:
        - trimmer
  - autorefs
nav:
  - Welcome: index.md
  - 'Alps':
    - alps/index.md
    - 'Platforms': alps/platforms.md
    - 'Clusters': alps/clusters.md
    - 'Hardware': alps/hardware.md
    - 'Storage': alps/storage.md
    - 'Machine Learning Platform':
      - platforms/mlp/index.md
      - 'Clariden': clusters/clariden.md
      - 'Bristen': clusters/bristen.md
    - 'HPC Platform':
      - platforms/hpcp/index.md
      - 'Daint': clusters/daint.md
      - 'Eiger': clusters/eiger.md
    - 'Climate and Weather Platform':
      - platforms/cwp/index.md
      - 'Santis': clusters/santis.md
  - 'Connecting to Alps':
    - access/index.md
    - 'Multi Factor Authentication (MFA)': access/mfa.md
    - 'Web Services': access/web.md
    - 'SSH': access/ssh.md
    - 'FirecREST': access/firecrest.md
    - 'JupyterLab': access/jupyterlab.md
    - 'VSCode': access/vscode.md
  - 'Running Jobs':
    - running/index.md
    - 'Slurm': running/slurm.md
    - 'HyperQueue': running/hyperqueue.md
    - 'Known issues': running/known-issues.md
  - 'Environments':
    - environments/index.md
    - 'Getting started in the terminal': guides/terminal.md
    - 'uenv':
      - software/uenv/index.md
      - 'Configuration': software/uenv/configure.md
      - 'Building uenv': software/uenv/build.md
      - 'Deploying uenv': software/uenv/deploy.md
      - 'Release notes': software/uenv/release-notes.md
    - 'Container Engine': 
      - software/container-engine/index.md
      - 'Using the Container Engine': software/container-engine/run.md
      - 'Hooks and native resources': software/container-engine/resource-hook.md
      - 'EDF reference': software/container-engine/edf.md
      - 'Known issues': software/container-engine/known-issue.md
  - 'Building and Installing Software':
    - build-install/index.md
    - 'Programming Environments':
      - software/prgenv/index.md
      - 'prgenv-gnu': software/prgenv/prgenv-gnu.md
      - 'prgenv-nvfortran': software/prgenv/prgenv-nvfortran.md
      - 'linalg': software/prgenv/linalg.md
      - 'julia': software/prgenv/julia.md
      - 'Cray modules (CPE)': software/prgenv/cpe.md
    - 'How to build software':
      - 'uenv': build-install/uenv.md
    - 'Packaging and Deployment':
      - 'Creating uenv': software/uenv/build.md
      - 'Creating Containers with podman': build-install/containers.md
  - 'Applications and Frameworks':
    - software/index.md
    - 'Scientific Applications':
      - software/sciapps/index.md
      - 'CP2K': software/sciapps/cp2k.md
      - 'GROMACS': software/sciapps/gromacs.md
      - 'LAMMPS': software/sciapps/lammps.md
      - 'NAMD': software/sciapps/namd.md
      - 'Quantum ESPRESSO': software/sciapps/quantumespresso.md
      - 'VASP': software/sciapps/vasp.md
    - 'Machine Learning':
      - software/ml/index.md
      - 'PyTorch': software/ml/pytorch.md
      - 'Tutorials':
        - tutorials/ml/index.md
        - 'LLM Inference':    tutorials/ml/llm-inference.md
        - 'LLM Fine-tuning':  tutorials/ml/llm-fine-tuning.md
        - 'LLM Pre-training': tutorials/ml/llm-nanotron-training.md
    - 'Climate and Weather':
      - software/cw/index.md
      - 'WRF': software/cw/wrf.md
    - 'Communication Libraries':
      - software/communication/index.md
      - 'Cray MPICH': software/communication/cray-mpich.md
      - 'MPICH': software/communication/mpich.md
      - 'OpenMPI': software/communication/openmpi.md
      - 'NCCL': software/communication/nccl.md
      - 'RCCL': software/communication/rccl.md
      - 'libfabric': software/communication/libfabric.md
    - 'Commercial software':
      - software/commercial/index.md
      - 'Matlab': software/commercial/matlab.md
    - 'Scientific Visualization':
      - software/sciviz/index.md
      - 'ParaView': software/sciviz/paraview.md
    - 'Prohibited Software': software/unsupported.md
  - 'Debugging and Performance Analysis':
    - software/devtools/index.md
    - 'Using NVIDIA Nsight': software/devtools/nvidia-nsight.md
    - 'Using Linaro Forge':
      - software/devtools/linaro-uenv.md
      - 'Linaro performance analysis tool': software/devtools/linaro-map.md
      - 'Linaro debugger': software/devtools/linaro-ddt.md
    - 'Using Score-P/Scalasca': software/devtools/vihps.md
    - 'Job report': running/jobreport.md
  - 'Data Management and Storage':
    - storage/index.md
    - 'File Systems': storage/filesystems.md
    - 'Data Transfer': storage/transfer.md
    - 'Long Term Storage': storage/longterm.md
    - 'Object Storage': storage/object.md
  - 'Services':
    - services/index.md
    - 'Developer Portal': services/devportal.md
    - 'CI/CD': services/cicd.md
    - 'Kubernetes':
      - services/kubernetes/index.md
      - 'Clusters': services/kubernetes/clusters.md
      - 'Kubernetes Upgrades': services/kubernetes/kubernetes-upgrades.md
      - 'Node OS Updates': services/kubernetes/node-updates.md
  - 'Accounts and Projects':
    - accounts/index.md
    - 'Account and Resources Management Tool': accounts/ump.md
    - 'Project and Resources Management Tool': accounts/waldur.md
    - 'Creating a new account': accounts/account-create.md
  - 'Guides':
    - guides/index.md
    - 'Internet Access on Alps': guides/internet-access.md
    - 'Storage': guides/storage.md
    - 'Gordon Bell 2025': guides/gb25.md
  - 'Policies':
    - policies/index.md
    - 'User Regulations': policies/regulations.md
    - 'Code of Conduct': policies/code-of-conduct.md
    - 'User Support Policies': policies/support.md
    - 'Slack Code of Conduct': policies/slack.md
    - 'Scheduled Maintenance and System Unavailability Policies': policies/maintenance.md
  - 'Contributing':
    - contributing/index.md

theme:
  name: material
  language: en
  features:
    - content.code.copy
    # add an "edit this page" icon on each page
    - content.action.edit
    - navigation.indexes
    - search.share
    - navigation.instant
    - navigation.tracking
    - navigation.path
    - navigation.top
    - content.code.annotate
  icon:
    # set the icon for "edit this page"
    edit: material/pencil
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: white
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: assets/cscs-logo.png
  font:
    text: Roboto
    code: Roboto Mono
  custom_dir: overrides
markdown_extensions:
  - admonition
  - def_list
  - markdown.extensions.smarty
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  # for captioning images
  - pymdownx.blocks.caption

extra_javascript:
 - javascripts/mathjax.js
 - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
